<!DOCTYPE html>
    <body>
        <legend>Enter workout information: </legend>
        <fieldset>
            <form>
                <fieldset id="exercise">
                    Exercise Name: <input type="text" name="name" id="name"> <br>
                </fieldset>
                <fieldset>
                    # of Reps: <input type="number" name="reps" id="reps"> <br>
                </fieldset>
                <fieldset>
                    Weight: <input type="number" name="weight" id="weight"> <br>
                </fieldset>
                <fieldset>
                    Date: <input type="date" name="date" id="date"> <br>
                </fieldset>
                <fieldset>
                    Unit: <input type="text" name="unit" id="unit"> <br>
                </fieldset>
            </form>
        </fieldset>
        <button id="submit" style="marging-top:25px"> Submit </button>
        <script type="text/javascript" src="server.js"></script>
        <script type="text/javascript" src="./client.js"></script>
    </body>
</html>
