<div class='recipe-details'>
    <h1>Agedashi Tofu</h1>
        <p>This dish is commonly served as an appetizer. Very simple, very delicious.
            <ul>Ingredients:
                <li>1 cup of dashi (can make this from scratch or with dashi powder)</li>
                <li>Silk tofu</li>
                <li>Ginger - grated</li>
                <li>Scallions - thinly chopped</li>
                <li>Katsuobushi</li>
                <li>Potato starch</li>
            </ul>
            <ul>Special Kitchenware Needed:
                <li>Deep fryer (a small deep pot will work too)</li>
            </ul>
            <ol>Instructions:
                <li>Make your dashi by your preferred method, either by using the powder, or by steeping kombu, katsuobushi and a little soy sauce.</li>
                <li>Cut your tofu into 1x1x2 inch piece. Dry your tofu with a paper towel.</li>
                <li>Coat your tofu with potato starch and deep fry it until golden brown.</li>
                <li>To assemble, put some dashi into a bowl, lay some of the tofu into it, and top with some grated ginger, scallions and a couple flakes of katsuobushi.</li>
            </ol>
        </p>
        <a href="Agadashi Tofu.pdf" download="">Download this Recipe!</a>
</div>
