<div class='recipe-details'>
    <h1>Classic Kimchi</h1>
        <p>
            I am not Korean so this is definitely not the best kimchi recipe you’ll ever see. But it’s fast and easy, so here it goes.
            <ul>Ingredients:
                <li>Head of savoy cabbage</li>
                <li>Big daikon radish</li>
                <li>2 bunches of scallions</li>
                <li>Some fish sauce</li>
                <li>Korean red pepper flakes - very different from normal ones</li>
            </ul>
            <ul>Special Kitchenware Needed:
                <li>Clean mason or canning jars</li>
            </ul>
            <ol>Instructions:
                <li>A lot of time you’ll see recipes that have you make a pasta and spread that paste on cabbage leaves. That’s too much effort. Let’s start by throughout washing our cabbage, drying it and chopping into about 1 inch strips. You can salt them when rinsing too to crisp them up or when drying to really draw moisture out of it.</li>
                <li>Chop radish into 2 inch long matchsticks</li>
                <li>Do the same to the scallions, keeping the whites.</li>
                <li>In a large mixing bowl, mix some fish sauce and red pepper flakes together (not really sure how much I normally do, kind of just eyeball it based on how much solids you have and viscosity of the sauce that forms.</li>
                <li>Throw your chopped veggies into the mix and coat very thoroughly.</li>
                <li>Can this into mason jars, packed as tightly as you can, the volume will reduce as the mixture ferments.</li>
                <li>Leave at room temp for a day or two and then for 2 weeks refrigerated.</li>
                <li>After that it is ready to eat! The more it ferments the more complex the flavor gets.</li>
            </ol>
        </p>
        <a href="Classic Kimchi.pdf" download="">Download this Recipe!</a>
</div>
