<div class='recipe-details'>
    <h1>Pasta Aglio e Olio</h1>
        <p>
            The ultimate lazy dish. You should probably have all these ingredients in your kitchen at all times anyway.
            <ul>Ingredients:
                <li>Spaghetti or bucatini </li>
                <li>½ cup olive oil</li>
                <li>4 cloves garlic - coined</li>
                <li>1 tablespoon or more of red pepper flakes</li>
                <li>⅓ cup finely chopped parsley</li>
                <li>Juice from half a lemon</li>
                <li>Salt and pepper to taste.</li>
            </ul>
            <ul>Special Kitchenware Needed:
                <li>Nada</li>
            </ul>
            <ol>Instructions:
                <li>Boil a big pot of water and cook your pasta.</li>
                <li>In the meantime, chop your garlic and parsley.</li>
                <li>When your pasta is about 3 mins from being done cooking, start heating up your olive oil in a large cast iron or nonstick pan. </li>
                <li>Once the pan is really hot, turn off the heat and drop your garlic in the oil. Keep them moving or you’ll burn them. Cook until golden brown.</li>
                <li>Add the red pepper flakes to the party.</li>
                <li>Using tongs, transfer your pasta into the pan. This will add enough pasta water usually, but add more if you feel that it is need.</li>
                <li>Throw the parsley on top and squeeze that lemon.</li>
                <li>Mix everything around and season taste with salt and pepper.</li>
                <li>If you really want to get fancy, take a carving fork and twirl the pasta around it to plate.</li>
                <li>Bon appetit!</li>
            </ol>
        </p>
        <a href="Pasta Aglio e Olio.pdf" download="">Download this Recipe!</a>
</div>
