<div class='recipe-details'>
    <h1>Japanese Poutine </h1>
        <p>
            A couple of summers ago, I was traveling in Japan and learned about katsu curry sauce. It’s delicious. It was a weird time of year, maybe after Thanksgiving because I had a lot of turkey gravy still laying around. At the same time I was planning a trip to Canada. All of these factors came together to create Japanese Poutine.
            <ul>Ingredients:
                <li>2 large russet potatoes or a bag of fingerling potatoes</li>
                <li>½ cup of turkey gravy (brown will work too)</li>
                <li>½ cup of katsu curry sauce</li>
                <li>Pickled jalapenos </li>
                <li>½ pound flank steak</li>
                <li>Soy sauce, mirin, and yellow miso paste</li>
                <li>⅓ cup of shredded cheddar cheese</li>
                <li>Chives for garnish</li>
            </ul>
            <ul>Special Kitchenware Needed:
                <li>Deep frier (an oven will work too though)</li>
                <li>Crockpot</li>
            </ul>
            <ol>Instructions:
                <li>The day before, slow cook you flank steak in a marinade of soy sauce, mirin, and yellow miso paste. I’m not quite sure how much I used, but about 1:1:0.5 was the ratio I think. Cook for about 4-6 hours on low and shred while still hot. </li>
                <li>The next day, slice your potatoes into thin fries. Soak them in cold water to get them to stay firm and to wash away a lot of the excess starch. Drain and dry these, sprinkle a little bit of baking soda on them if you are going to bake them in an oven, this helps them crisp up a bit.</li>
                <li>If frying in a deep fryer, just fry them until golden brown and crispy.</li>
                <li>If frying in the oven, toss in salt, pepper, minced garlic and olive oil and bake at 400F, occasionally mixing to make sure you have an even fry.</li>
                <li>While your fries are frying. Make up some katsu curry sauce from the powder (just add water). Heat your gravy and shredded beef while you’re at it.</li>
                <li>When your fries are done, place them on a paper towel dab the excess oil off them.</li>
                <li>Plate with fries on the bottom, drizzle with gravy, katsu sauce, add the beef, more gravy and katsu sauce and finish with the jalapenos, cheese and chives.</li>
                <li>Eat and be happy.</li>
            </ol>
        </p>
        <a href="Japanese Poutine Recipe.pdf" download="">Download this Recipe!</a>
</div>
