<div class='recipe-details'>
    <h1>Spam Fried Rice</h1>
        <p>Ya know, the jury was kind of out for me on Spam until recently. I didn’t know what the think of it and the canned meat thing sketched me out. Then I read this article written by two well known Canadian restaurateurs and it changed my mind. Here’s what I do with it.
            <ul>Ingredients:
                <li>2.5 cups of uncooked rice (cook it the day before)</li>
                <li>1 can of low sodium Spam</li>
                <li>1 small onion</li>
                <li>¾ cup of edamame - shelled</li>
                <li>2 eggs</li>
                <li>Furikake </li>
                <li>Togarashi seasoning</li>
                <li>Sesame oil</li>
                <li>Mirin </li>
                <li>Soy sauce and freshly ground pepper to taste</li>
            </ul>
            <ul>Special Kitchenware Needed:
                <li>Rice cookers are the best way to make rice. Period. </li>
                <li>A wok is the best way to fry rice. Period.</li>
            </ul>
            <ol>Instructions:
                <li>Julienne your onion. It is nice to have contrasting shapes of ingredients in a dish to get better mouth feel.</li>
                <li>Dice your spam into little cubes.</li>
                <li>In a large wok, lay down some veggie oil and saute your onions just slightly.</li>
                <li>Add your Spam to the party and cook them until they begin to show signs of not being fresh out of a can.</li>
                <li>Drizzle a little bit of sesame oil on this mixture and throw in your edamame. Cook until the Spam has slightly browned.</li>
                <li>Now add a little bit more veggie oil (and a little chili oil if you have it).</li>
                <li>Turn down the heat before you add your rice, otherwise you get a burnt rice layer on your wok. Throw in the rice, soy sauce, some ground pepper and fry to your liking.</li>
                <li>While that is frying, whisk 2 eggs and add a splash of sesame oil, mirin, and soy sauce to it.</li>
                <li>Scoop some hot rice into a bowl.</li>
                <li>Heat a well oiled pan until it’s ripping hot, then dump your eggs in it. Turn off the heat and scramble them, keeping them a little runny, the steam from your rice will cook it the rest of the way.</li>
                <li>Top with furikake and togarashi. Chow down!</li>
            </ol>
        </p>
        <a href="Spam Fried Rice.pdf" download="">Download this Recipe!</a>
</div>
