<div class='recipe-details'>
    <h1>Vietnamese Beef Noodles </h1>
        <p>This dish is a personal favorite of mine. My angel of a mother used to make this for me on weekends for breakfast AND lunch. For some reason I can eat more of this dish than any other thing… and I can eat a whole large Pizza Hut pizza…
            <ul>Ingredients:
                <li>Half a package of vermicelli rice noodles </li>
                <li>½ pound of beef, preferably petite sirloin - thinly sliced</li>
                <li>½ a head of romaine lettuce - roughly chopped</li>
                <li>½ a cucumber - 1 inch slivers</li>
                <li>⅓ a yellow onion - julienned</li>
                <li>2 cloves minced</li>
                <li>Oyster sauce</li>
                <li>Diluted fish sauce and chili paste</li>
                <li>Some cilantro, green onion to garnish, and crushed peanuts to garnish</li>
            </ul>
            <ul>Special Kitchenware Needed:
                <li>Nothing special needed here</li>
            </ul>
            <ol>Instructions:
                <li>Bring a pot of water to a boil. </li>
                <li>While that is boiling, process your veggies and thinly slice your beef. </li>
                <li>Cook your noodles.</li>
                <li>In a mixing bowl, combine your onions and beef and coat in oyster sauce. </li>
                <li>Cook this mixture with some minced garlic, do not overcook the beef, it will make it tough and chewy. This is the only heat you need to use for this dish.</li>
                <li>To serve, dd lettuce, cilantro, cucumbers to the bottom of a bowl. Put some noodles over that and top with beef, onions, and peanuts. Drizzle fish sauce over the top and add chili paste if you please. </li>
                <li>This dish is meant to be served cold!</li>
            </ol>
        </p>
        <a href="Vietnamese Beef Noodles.pdf" download="">Download this Recipe!</a>
</div>
